In [44]:
import os 
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn import preprocessing
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

In [4]:
os.getcwd()

'C:\\Users\\SE7EN'

In [5]:
# loading the dataset
credit_card_data = pd.read_csv('creditcard.csv')

In [6]:
#first five rows of dataset
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [7]:
credit_card_data.shape

(23323, 31)

In [8]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
23318,32696,1.071505,0.187075,0.895129,2.656099,-0.452814,0.179717,-0.247008,0.215500,-0.248462,...,-0.050902,-0.102234,-0.075050,0.317656,0.510180,0.034916,-0.005075,0.012346,24.56,0.0
23319,32696,1.329254,0.264064,-0.048885,0.320503,0.048595,-0.678869,0.228248,-0.187475,0.008471,...,-0.560465,-1.689859,0.164856,-0.490515,0.175748,0.029118,-0.054453,0.007967,5.00,0.0
23320,32697,1.323101,-1.393103,0.433789,-1.327880,-1.717583,-0.691175,-1.001486,-0.132899,-1.601772,...,-0.338124,-0.900733,0.052258,-0.037719,0.112664,-0.396570,0.017171,0.042853,118.75,0.0
23321,32697,1.582101,-1.197678,-1.147417,-2.504297,0.984772,3.234035,-1.492196,0.747692,-1.984488,...,-0.269321,-0.522610,0.001930,0.981586,0.549879,-0.190893,0.033277,0.013703,10.00,0.0
23322,32697,1.398222,-1.236821,0.333811,-1.597716,-1.295506,-0.096330,-1.096847,-0.008739,-1.990493,...,-0.330900,-0.760100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23323 entries, 0 to 23322
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    23323 non-null  int64
 1   V1      23323 non-null  float64
 2   V2      23323 non-null  float64
 3   V3      23323 non-null  float64
 4   V4      23323 non-null  float64
 5   V5      23323 non-null  float64
 6   V6      23323 non-null  float64
 7   V7      23323 non-null  float64
 8   V8      23323 non-null  float64
 9   V9      23323 non-null  float64
 10  V10     23323 non-null  float64
 11  V11     23323 non-null  float64
 12  V12     23323 non-null  float64
 13  V13     23323 non-null  float64
 14  V14     23323 non-null  float64
 15  V15     23323 non-null  float64
 16  V16     23323 non-null  float64
 17  V17     23323 non-null  float64
 18  V18     23323 non-null  float64
 19  V19     23323 non-null  float64
 20  V20     23323 non-null  float64
 21  V21     23323 non-null  float64
 22  V22     23323 non-null  float64
 23  V23     23322 non-null  float64
 24  V24     23322 non-null  float64
 25  V25     23322 non-null  float64
 26  V26     23322 non-null  float64
 27  V27     23322 non-null  float64
 28  V28     23322 non-null  float64
 29  Amount  23322 non-null  float64
 30  Class   23322 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 5.5 MB

In [10]:
#checking number of missing values in each col.
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [11]:
credit_card_data = credit_card_data.dropna(how= 'any')

In [12]:
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [13]:
credit_card_data.shape

(23322, 31)

In [14]:
#distribution of legit and fraud transaction
credit_card_data['Class'].value_counts()

0.0    23235
1.0       87
Name: Class, dtype: int64

In [15]:
#separating the data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [16]:
print(legit.shape)
print(fraud.shape)

(23235, 31)
(87, 31)

In [17]:
#statistical measures of the data
legit.Amount.describe()

count    23235.000000
mean        73.342221
std        212.101317
min          0.000000
25%          6.000000
50%         17.990000
75%         64.990000
max       7879.420000
Name: Amount, dtype: float64

In [18]:
fraud.Amount.describe()

count      87.000000
mean       92.916437
std       258.874172
min         0.000000
25%         1.000000
50%         1.000000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [50]:
#compare the values for both transaction 
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,17877.934108,-0.211220,0.182640,0.777441,0.228477,-0.165728,0.091411,-0.103099,0.004622,0.528952,...,0.037214,-0.044032,-0.137999,-0.037399,0.013631,0.125768,0.027743,0.010300,0.004198,73.342221
1.0,17765.655172,-8.687676,6.449225,-12.337122,6.273913,-6.054414,-2.516605,-8.407369,4.393750,-2.994247,...,0.699771,0.533789,-0.389656,-0.373689,-0.259653,0.349456,0.173875,0.863917,0.098963,92.916437

In [49]:
legit_sample = legit.sample(n=205)

In [21]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [22]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
16021,27458,1.023526,-0.294481,0.587607,0.727705,-0.531582,0.150170,-0.276198,0.224252,0.392760,...,-0.194287,-0.568610,0.053114,0.026378,0.183728,0.189447,-0.019376,0.011859,64.99,0.0
15052,26396,-1.019941,0.612325,2.482309,-0.257015,-0.159340,0.230319,0.238150,-0.034207,0.257458,...,0.364850,1.100035,-0.291924,0.020136,-0.177507,-0.520978,-0.413736,-0.034148,30.22,0.0
17191,28512,-0.578161,1.604349,0.051961,0.594239,0.622138,-0.250479,0.449709,0.454511,-1.380644,...,0.066861,0.167025,-0.186489,-0.395052,-0.267067,0.472771,0.008871,0.092436,0.76,0.0
20620,31160,1.152064,0.644665,0.206608,2.431161,0.110358,-0.646829,0.452107,-0.127586,-1.262886,...,0.051176,0.046308,-0.095505,0.522788,0.653796,0.039076,-0.048022,0.002732,13.16,0.0
18107,29195,1.256562,0.286763,-0.167788,0.431991,0.096147,-0.945562,0.513990,-0.349715,-0.286218,...,-0.387160,-1.179567,0.046427,-0.102196,0.369272,0.163209,-0.065062,0.011846,38.90,0.0

In [23]:

new_dataset['Class'].value_counts()

0.0    205
1.0     87
Name: Class, dtype: int64

In [24]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
18472,29531,-1.060676,2.608579,-2.971679,4.360089,3.738853,-2.728395,1.987616,-0.357345,-2.757535,...,-0.063168,-0.207385,-0.183261,-0.103679,0.896178,0.407387,-0.130918,0.192177,0.68,1.0
18773,29753,0.269614,3.549755,-5.810353,5.809370,1.538808,-2.269219,-0.824203,0.351070,-3.759059,...,0.371121,-0.322290,-0.549856,-0.520629,1.378210,0.564714,0.553255,0.402400,0.68,1.0
18809,29785,0.923764,0.344048,-2.880004,1.721680,-3.019565,-0.639736,-3.801325,1.299096,0.864065,...,0.899931,1.481271,0.725266,0.176960,-1.815638,-0.536517,0.489035,-0.049729,30.30,1.0
20198,30852,-2.830984,0.885657,1.199930,2.861292,0.321669,0.289966,1.767760,-2.451050,0.069736,...,0.546589,0.334971,0.172106,0.623590,-0.527114,-0.079215,-2.532445,0.311177,104.81,1.0
23308,32686,0.287953,1.728735,-1.652173,3.813544,-1.090927,-0.984745,-2.202318,0.555088,-2.033892,...,0.262202,-0.633528,0.092891,0.187613,0.368708,-0.132474,0.576561,0.309843,0.00,1.0

In [25]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,17037.697561,-0.176814,0.162139,0.932621,0.147986,-0.220507,0.016957,0.022645,0.064089,0.623116,...,0.092697,-0.122077,-0.127341,-0.068603,-0.004067,0.084755,0.069531,-0.007642,0.012959,81.179561
1.0,17765.655172,-8.687676,6.449225,-12.337122,6.273913,-6.054414,-2.516605,-8.407369,4.393750,-2.994247,...,0.699771,0.533789,-0.389656,-0.373689,-0.259653,0.349456,0.173875,0.863917,0.098963,92.916437

In [26]:
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [27]:
print (X)

        Time        V1        V2        V3        V4        V5        V6  \
16021  27458  1.023526 -0.294481  0.587607  0.727705 -0.531582  0.150170
15052  26396 -1.019941  0.612325  2.482309 -0.257015 -0.159340  0.230319
17191  28512 -0.578161  1.604349  0.051961  0.594239  0.622138 -0.250479
20620  31160  1.152064  0.644665  0.206608  2.431161  0.110358 -0.646829
18107  29195  1.256562  0.286763 -0.167788  0.431991  0.096147 -0.945562
...      ...       ...       ...       ...       ...       ...       ...
18472  29531 -1.060676  2.608579 -2.971679  4.360089  3.738853 -2.728395
18773  29753  0.269614  3.549755 -5.810353  5.809370  1.538808 -2.269219
18809  29785  0.923764  0.344048 -2.880004  1.721680 -3.019565 -0.639736
20198  30852 -2.830984  0.885657  1.199930  2.861292  0.321669  0.289966
23308  32686  0.287953  1.728735 -1.652173  3.813544 -1.090927 -0.984745

             V7        V8        V9  ...       V20       V21       V22  \
16021 -0.276198  0.224252  0.392760  ... -0.075528 -0.194287 -0.568610
15052  0.238150 -0.034207  0.257458  ... -0.133802  0.364850  1.100035
17191  0.449709  0.454511 -1.380644  ...  0.025548  0.066861  0.167025
20620  0.452107 -0.127586 -1.262886  ... -0.169398  0.051176  0.046308
18107  0.513990 -0.349715 -0.286218  ...  0.033206 -0.387160 -1.179567
...         ...       ...       ...  ...       ...       ...       ...
18472  1.987616 -0.357345 -2.757535  ... -0.089062 -0.063168 -0.207385
18773 -0.824203  0.351070 -3.759059  ...  0.310525  0.371121 -0.322290
18809 -3.801325  1.299096  0.864065  ...  0.170872  0.899931  1.481271
20198  1.767760 -2.451050  0.069736  ... -1.016923  0.546589  0.334971
23308 -2.202318  0.555088 -2.033892  ...  0.265250  0.262202 -0.633528

            V23       V24       V25       V26       V27       V28  Amount
16021  0.053114  0.026378  0.183728  0.189447 -0.019376  0.011859   64.99
15052 -0.291924  0.020136 -0.177507 -0.520978 -0.413736 -0.034148   30.22
17191 -0.186489 -0.395052 -0.267067  0.472771  0.008871  0.092436    0.76
20620 -0.095505  0.522788  0.653796  0.039076 -0.048022  0.002732   13.16
18107  0.046427 -0.102196  0.369272  0.163209 -0.065062  0.011846   38.90
...         ...       ...       ...       ...       ...       ...     ...
18472 -0.183261 -0.103679  0.896178  0.407387 -0.130918  0.192177    0.68
18773 -0.549856 -0.520629  1.378210  0.564714  0.553255  0.402400    0.68
18809  0.725266  0.176960 -1.815638 -0.536517  0.489035 -0.049729   30.30
20198  0.172106  0.623590 -0.527114 -0.079215 -2.532445  0.311177  104.81
23308  0.092891  0.187613  0.368708 -0.132474  0.576561  0.309843    0.00

[292 rows x 30 columns]

In [28]:
print(Y)

16021    0.0
15052    0.0
17191    0.0
20620    0.0
18107    0.0
        ...
18472    1.0
18773    1.0
18809    1.0
20198    1.0
23308    1.0
Name: Class, Length: 292, dtype: float64

In [29]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size= 0.2, stratify=Y, random_state=2)

In [30]:
print(X.shape, X_train.shape, X_test.shape)

(292, 30) (233, 30) (59, 30)

In [31]:
model = LogisticRegression()

In [32]:
#training the Logistic Regression Model with Training data
model.fit(X_train, Y_train)

C:\Users\SE7EN\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [33]:
#accuracy on  training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [34]:
print('Accuracy on Training data:', training_data_accuracy)

Accuracy on Training data: 0.9914163090128756

In [35]:
#accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [36]:
print('Accuracy score on Test Data:', test_data_accuracy)

Accuracy score on Test Data: 0.9491525423728814